.error {
    border: 3px solid red;
}

.errorMessage {
    color: red;
}

.isDone {
    opacity: 0.6;
}

.title {
    margin: 0;
    padding-bottom: 5px;
}

.button {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}