.error {
    border: 3px solid red;
}

.errorMessage {
    color: red;
}

.allFilter {
    color: #002349;
    background-color: aqua;
    border: 1px solid #002349;
}

.isDone {
    opacity: 0.6;
}

.title {
    margin: 0;
    padding-bottom: 5px;
}